.cards {
	display: flex;
	flex-wrap: wrap;
}




.card {
	flex-grow: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin:10px;
	flex-basis: 250px;
	background: #E6E6E6;
}

.card:hover {
	background: white;
}
	
	
.card img {
	width: 150px;
	border-radius: 6px;
}

.card h3 {
	padding-left: 10px;
	font-size: 17px;
	flex-grow: 1;
	color: #b1400e;
}	


